@import "../../../global-styles/partials/global-strut";

@media screen and (max-width: 959px) {
  .planet-info-container {
    margin-top: 0;
  }
}
.planet-info-container {
  @extend %header-top-spacing;
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 5em;
}
