@import "global-color-palette";

body {
  background-color: $space-bg;
}

h1 {
  font-weight: bold;
}

.fill-space {
  flex: 1 1 auto;
}

%button-style-mods {
  color: white;
}

%header-top-spacing {
  margin-top: 20px;
}
