@import "global-color-palette";

%fixed-above-content {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 2;
}

%button-style-mods {
  color: white;
}

%header-top-spacing {
  margin-top: 5em;
}

html, body {
  height: 100%;
}

body {
  background-color: $space-bg;
  height: 100%;
}

header {
  @extend %fixed-above-content;
  top: 0;
}

footer {
  @extend %fixed-above-content;
  bottom: 0;
}

h1 {
  font-weight: bold;
}

.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
